.App {
  font-size: 14px;
  min-height: 100vh;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  z-index: 1;
}

.Content {
  margin-top: 3.5rem;
  > div {
    padding: 1.2rem 1.5rem 8rem 1.5rem;
  }
}
